
# Created by https://www.gitignore.io/api/node,windows,webstorm
# Edit at https://www.gitignore.io/?templates=node,windows,webstorm

### Node ###
# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

#webstorm
.idea

# End of https://www.gitignore.io/api/node,windows,webstorm